/*******************************************************************************
 * ROFI Color theme
 * User: Christian Künne
 *******************************************************************************/

* {
    border-color:                #{{base0D-hex}};
    background:                  #{{base00-hex}};
    foreground:                  #{{base05-hex}};
    selected-background:         #{{base02-hex}};
    selected-foreground:         #{{base06-hex}};
    urgent-background:           #{{base00-hex}};
    urgent-foreground:           #{{base08-hex}};
    active-background:           #{{base00-hex}};
    active-foreground:           #{{base0B-hex}};
    background-color:            @background;    
}
#window {    
    border:           3;
    padding:          5;
}
#mainbox {
    border:  0;
    padding: 0;
}
#message {
    border:       0;
    padding:      1px ;
}
#textbox {
    text-color: @foreground;
}
#listview {
    fixed-height: 0;    
    spacing:      2px ;
    scrollbar:    false;
    padding:      2px 0px 0px ;
}
#element {
    border:  0;
    padding: 2px ;
}
#element.normal.normal {
    background-color: @background;
    text-color:       @foreground;
}
#element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
#element.normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
#element.selected.normal {
    background-color: @selected-background;
    text-color:       @selected-foreground;
}
#element.selected.urgent {
    background-color: @selected-background;
    text-color:       @selected-foreground;
}
#element.selected.active {
    background-color: @selected-background;
    text-color:       @selected-foreground;
}
#element.alternate.normal {
    background-color: @background;
    text-color:       @foreground;
}
#element.alternate.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
#element.alternate.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}

#button.selected {
    background-color: @selected-background;
    text-color:       @selected-foreground;
}
#inputbar {
    spacing:    0;
    text-color: @foreground;
    padding:    2px ;
}
#case-indicator {
    spacing:    0;
    text-color: @foreground;
}
#entry {
    spacing:    0;
    text-color: @foreground;
}
#prompt {
    spacing:    0;
    text-color: @foreground;
}
#inputbar {
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
#textbox-prompt-colon {
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0em 0em ;
    text-color: @foreground;
}
